{% extends 'SitePlatformBundle::layout.html.twig' %}

{% block title %}虎扑协作平台{% endblock %}

{% block content %}

    <div class="demand-con">
        <div class="searchBar">
            <a href="addDemand.html" class="addDemand">+ 新增需求</a>
            <select name="item" id="" class="item">
                <option value="">-运动项目-</option>
                <option value="">篮球</option>
                <option value="">足球</option>
                <option value="">乒乓球</option>
                <option value="">网球</option>
                <option value="">羽毛球</option>
                <option value="">综合|其他</option>
            </select>
            <input class="Wdate" type="text" onClick="WdatePicker()">
            <input class="Wdate" type="text" onClick="WdatePicker()">
            <select name="country" id="country" class="liandong">

            </select>
            <select name="province" id="province" class="liandong">

            </select>
            <select name="city" id="city" class="liandong">

            </select>
            <input type="text" class="keywords" value="请输入关键字查询">
            <a href="#" class="searchBtn">搜索</a>

        </div>
        <table border='0' cellspacing='0' cellpadding='0' width="100%" class="demand-table">
            <tr>
                <th width="10%">更新时间</th>
                <th width="10%">运动项目</th>
                <th width="15%">单位性质</th>
                <th width="10%">所属地区</th>
                <th width="25%">需求主题（点击查看详细）</th>
                <th width="11%">内部联络人</th>
                <th width="8%">反馈时间</th>
                <th width="11%">...</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="updateDemand.html">修改</a> | <a href="#" class="del">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="updateDemand.html">修改</a> | <a href="#" class="del">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="updateDemand.html">修改</a> | <a href="#" class="del">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="#">修改</a> | <a href="#">删除</a></td>
            </tr>
        </table>

        <div class="pageWrap">
            <a href="#" class="prev">上一页</a>
            <a href="#" class="pages">1</a>
            <a href="#" class="pages">2</a>
            <a href="#" class="pages">3</a>
            <a href="#" class="pages">4</a>
            <a href="#" class="pages">5</a>
            <a href="#" class="pages">6</a>
            <a href="#" class="pages">7</a>
            <a href="#" class="pages">8</a>
            <a href="#" class="next">下一页</a>
        </div>

    </div>

{% endblock %}





{% block javascripts %}
    {{ parent() }}
    {% javascripts '@SitePlatformBundle/Resources/public/js/area.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>

    <script>
        _init_area('','','');
        $('.keywords').focus(function(){
            if($(this).val() == '请输入关键字查询'){
                $(this).val('');
            }
        }).blur(function(){
            if($(this).val() == ''){
                $(this).val('请输入关键字查询');
            }
        })
        $('.del').on('click',function(){
            var show = showVideo.create({
                wid:400,
                hei:180
            });
            show.init();
            $('.cover').bind('click',function(){
                $(".popCon,.cover").remove();
            })
            $('.confirm').bind('click',function(){

            })
        })

    </script>

    {% endjavascripts %}
{% endblock %}


