{% extends '::base.html.twig' %}

{% block title %}虎扑协作平台{% endblock %}


{% block body %}
    <div class="wrap">
        <div class="head-con">
            <div class="head-conLogo"><a href="#"></a><span>内部协作平台</span></div>
            <ul>
                <li><a href="#">最新更新</a></li>
                <li class="cur"><a href="#">需求管理</a></li>
                <li><a href="#">资源管理</a></li>
                <li><a href="#">系统管理</a></li>
            </ul>
            <div class="user-info">
				<span>
					用户名：
					<a href="#">mr.tylerwang</a>
				</span>
                <a href="#">【退出】</a>
            </div>
        </div>

        {% block content %}

        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}

    <script src="http://b1.hoopchina.com.cn/common/jquery-1.8.js"></script>

{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="http://b3.hoopchina.com.cn/common/common-v1.css" />
    {% stylesheets
    'bundles/siteplatform/css/index.css'
    output="css/compiled/build.css"
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}